<%= form_with(model: @list, url: [@trip, @list], local: true, class: "ui form") do |f| %>
    <div class="field">
      <%= f.label :destination %>
      <%= f.text_field :name, class: "input" %>
    </div>

 <div class="field">
   <%= f.label :start_date %>
   <%= f.text_field :start_date, class: "input" %>
 </div>
 <div class="field">
   <%= f.label :end_date %>
   <%= f.text_field :end_date, class: "input" %>
 </div>
 <%= f.submit nil, class: "ui blue button" %>
<% end %>
