<h1> <%= "#{@trip.start_date} - #{@trip.end_date}" %> </h1>
<h2> Destinations: </h2>

<% @trip.locations.each do |location| %>
  <div>
    <h3><%= link_to location.name, [@trip, location] %></h3>
  </div>
<% end %>
<br/>
<br/>

<%= link_to 'New Destination', new_trip_location_path(@trip), class: "ui purple button"  %>
<br/>
<br/>
<%= link_to 'Back', trips_path, class: "ui blue button" %>
<%= link_to "Edit Trip", edit_trip_path(@trip), class: "ui blue button" %>
<br/>
<br/>
<%= button_to "Delete Trip ", trip_path(@trip), method: :delete, class: "ui red button" %>
