<%= form_with(model: @location, url: [@trip, @location], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :destination %>
    <%= f.text_field :name, class: "input" %>
  </div>
 <div class="field">
   <%= f.label :days %>
   <%= f.text_field :days, class: "input" %>
 </div>
 <%= f.submit nil, class: "ui blue button" %>
<% end %>