<h1><%= @location.name %></h1>
<h3><%= @location.days%></h3>
<br/>

<br/>

<%= link_to 'Add Address', new_location_address_path(@location), class: "ui blue button" %>
<%= link_to "Back", trip_path(@trip), class: "ui green inverted button" %>
<%= button_to 'Delete Location', [@trip, @location], method: :delete, class: "ui red button" %>

