<h1><%= @location.name %></h1>
<h3><%= @location.days%></h3>
<br/>

<br/>
<ul>
  <% @location.addresses.each do |address| %>
    <li><%= link_to "#{address.city}, #{address.state}", location_address_path(@location, address) %></li>
  <% end %>
</ul>

<%= link_to 'Add Address', new_location_address_path(@location), class: "ui blue inverted button" %>
<%= link_to "Back", trip_path(@trip), class: "ui purple inverted button" %>
<%= button_to 'Delete Location', [@trip, @location], method: :delete, class: "ui red inverted button" %>

